<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>History</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
    </a>
    <img height="30" width="30" src="https://cdn2.iconfinder.com/data/icons/ios7-inspired-mac-icon-set/512/Calculator_512.png" alt="MDN logo">
    <a class="navbar-brand" href="/">HOME</a>
    <td>
        <div th:unless="${session.user}">
            <a class="navbar-brand" href="/reg">Registration</a>
            <a class="navbar-brand" href="/login">Authorization</a>
        </div>
        <div th:if="${session.user}">
            <a class="navbar-brand" href="/calc">Calculator</a>
            <a class="navbar-brand" href="/calc/history">History</a>
            <a class="navbar-brand" href="#">
            </a>
            <a class="navbar-brand" th:text="${session.user.username}">log</a>
            <a class="navbar-brand" href="/logout">Logout</a>
        </div>
    </td>
</nav>
<div class="container col-sm-4">
    <div th:each="operation : ${operationList}" >
      <div class="container">
            <form th:method="POST" th:action="@{/calc/history/delete}" th:object="${operationdto}">
              <input type="hidden" name="id"  th:value="${operation.getId}">
           <div class="row align-items-start">
               <div class="col">
                 <label style="color: darkorange" class="form-control col-sm-2 my-2" th:text="${operation.getResult}"></label>
             </div>
             <div class="col">
                    <button type="submit" class="btn btn-outline-dark my-2">delete</button>
                </div>
          </div>
          </form>
      </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a style="color:black" class="page-link" href="/calc/history/prev" aria-label="Previous">
                    Previos
                </a>
            </li>
            <li class="page-item">
                <a style="color:black" class="page-link" href="/calc/history/next" aria-label="Next">
                    Next
                </a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>